<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Post</title>
  </head>
  <body>
    <div class="well">
      <h1> Write a new post! </h1>
      <form action="/blogs" method="post">
        <p><label>Enter Title:</label></p>
        <input type="text" name="blog[title]">
        <p><label> post content: </label> </p>
        <textarea name="blog[content]" style="width:250px;height:150px;"></textarea>
        <% if session[:id] %>
          <p><input type="submit"  value="submit"></p>
        <% else %>
          <p> You must <a href="/login">login</a> or <a href="/signup">Register</a> to make a post. </p>
        <% end %>
      </form>
    </div>
  </body>
</html>
