<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign up!</title>
  </head>
  <body>
    <form action="/users/new" method="post">
      <h1>Sign up for Post-It</h1>
      <p><label>name:</label><input type="text" name="user[name]" value=""></p>
      <p><label>user_name:</label><input type="text" name="user[user_name]" value=""></p>
      <p><label>email:</label><input type="text" name="user[email]" value=""></p>
    </form>
  </body>
</html>
